h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align: center;
    color: black;
    padding: 7% 7% 3%;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    text-align:center;
    color: black;
    padding: 0% 0% 2%;
}
.navbar-style {
    background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);   
  padding: 0.5% 2%;
  width: 100%;       
} 
.navbar-item {
    font-family: 'Poppins', sans-serif;
    text-color: rgb(59, 59, 59);
}

.charcoal {
    background-image: linear-gradient(0 deg, rgb(151, 194, 255), white, white);
}
#artwork {
    height: 100vh;
  background-color: red;
  background-image: linear-gradient(180deg, rgb(177, 210, 255), #ffffff);
}
.card-title {
    font-family: 'Poppins', sans-serif;
     font-style: 700;
    font-size: 1rem;
}
.card-text {
    font-family: 'Jost', sans-serif;
    font-size: 0.9rem;
    padding: 1% 0% 0%;
}