h5{ 
    color: black;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}
h6 { 
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight:600
    line-height: 1.5;

}
h1{
    color: rgb(0, 0, 0);
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
     padding: 7% 1% 2%;
    font-weight: 900;
}
p {
    text-align: center;
    font-family: 'Jost', sans-serif;
}

.navbar-style {
    background: rgba(255, 255, 255, 0.25); 
  backdrop-filter: blur(12px);   
  padding: 0.5% 2%;
  width: 100%;        
} 
.navbar-item {
    font-family: 'Poppins', sans-serif;
    text-color: rgb(59, 59, 59);
}
.header {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
#grad1 {
  height: 80vh;
  background-color: red;
  background-image: linear-gradient(175deg, rgb(177, 210, 255), #ffffff);
}
#website {
    padding 5% 10%;
    margin: 50px 20px 40px; 
}
/* cards */
.website-border {
    background-color:black;
} 

.study-buddy {
    background-image: linear-gradient(180deg,rgb(151, 194, 255), white);
}

.wedding-planner {
    background-image: linear-gradient(180deg,rgb(151, 194, 255), white);
}

/* figma carousel */

#figmaCarousel {
    background-image: linear-gradient(175deg,rgb(239, 246, 255), #ffffff,rgb(233, 242, 255),rgb(177, 210, 255));

}

#figmaCarousel .carousel-item {
  display: flex !important;
  justify-content: center;
  padding: 1% 5%;
}

#figmaCarousel .custom-carousel-split {
  width: 70%;         
  max-width: 1100px;
}
#figmaCarousel .custom-carousel-split img {
  max-width: 200px;   
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;  
}


.caption-content {
  padding: 20px 40px; 
  text-align: left;
  /* Ensure text is visible */
  color: #333; 
}
p.figma-body {
    text-align: left;
    font-family: 'Jost', sans-serif;
}

#figmaCarousel .video-slide {
  display: block !important; 
}
.video-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.figma-video {
  width: 60%;        
  border-radius: 12px;
}

.figma-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}




.carousel-control-prev {
 background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
.carousel-control-next {
    background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
.carousel-control-prev-icon{
    filter:invert(1);
}
.carousel-control-next-icon {
  filter: invert();
} 
.card-text{
    color: black;
    margin: 4%;
}
.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#evershade {
   padding: 3% 20%;
   background-image: linear-gradient(5deg, white, white, rgb(177, 210, 255));
}
.evershade-caption{
    text-align: right;
}

#footer {
    padding 5% 15%;
    text-align: center;
}