h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align:center;
    font-size: xx-large;
    color: black;
    padding: 7% 7% 3%;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    text-align:left;
    color: black;
    padding: 0% 0% 2%;
}

p {
    font-family: 'Jost', sans-serif;
    text-align: left;
    font-size:medium;
    padding: 2% 5% 0% 5%;
}

#gradient {
    height: 100vh;
  background-color: red;/* For browsers that do not support gradients */
  background-image: linear-gradient(175deg, rgb(177, 210, 255), #ffffff);
  padding: 0% 7%;
}

.navbar-style {
    background: rgba(255, 255, 255, 0.25); /* translucent white */
  backdrop-filter: blur(12px);   
  padding: 0.5% 2%;
  width: 100%;         /* optional: shrink to content */
} 
.navbar-item {
    font-family: 'Poppins', sans-serif;
    text-color: rgb(59, 59, 59);
}
.star {
    text-align: left;
    padding: 2% 5% 0% 5%;
}

.me {
    width:10%;
}
#values{
    padding: 2% 10% 5%;   
    text-align:center; 
}