/* COGS3 studyBuddy specific styles go here. */
/* hashtag used to identiy if */ 
#title {
    background-color: aliceblue;
}
h1{ 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem; 
    line-height: 1.5;
}
h3{
    font-family: 'Inter', sans-serif;
    font-size: 2rem; 
    font-weight: bold;
    line-height: 1.5;
}
p {
    font-family: 'Inter', sans-serif;
    font-size:1rem; 
    color:rgb(101, 101, 101);
}
/* Navigation Bar */
.navbar-brand {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2rem; 
    line-height: 1;
}
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-item {
    padding: 0 18px;
}
.navbar-link {
    font-family: 'Montserrat';
    font-size: 1.2rem 
}
/* fix color of nav-link? */ 
.nav-link {
    color: red;
}
.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
}

.container-fluid {
    padding: 3% 15%;
}
/* Features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1;
    position: relative;
}
.feature-box {
    text-align: center;
    padding: 5%;
}
.icon {
    color: #1a1e5b;
    margin-bottom: 1rem;
}

.icon:hover {
    color:rgb(254, 181, 55)
}
/* Testimonials */
#testimonials { 
    padding 7% 15%; 
    text-align: center;
    background-color: aliceblue;
   } 
.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 10px;
}
#testimonial-carousel {
    background: aliceblue;
}

.carousel-item {
    padding: 7% 20%; 
    border: transparent;
}
.carousel-control-prev {
 background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
.carousel-control-next {
    background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}
.carousel-control-prev-icon{
    filter:invert(1);
}
.carousel-control-next-icon {
  filter: invert();
}      

#press {
    background-color: aliceblue;
    text-align:center;
}
.press-logo {
    width: 10%; 
    margin: 50px 20px 40px; 
}

.car-image {
    height: 10%; 
    width: 10%;
}

/* Pricing Section*/
#pricing {
padding:100px;   
text-align:center; 
}
.pricing-header{
    color: black;
}
.pricing-column {
   padding: 3% 1%;
}
.card-header {
    background: #1a1e5b;
    color: white;
}
.card-header:hover {
    background-color:rgb(254, 181, 55);
}

/* Call To Action */
#cta {
    background-color: aliceblue;
    color: black;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3rem;
}

/* Footer */
#footer {
    padding 7% 15%;
    text-align: center;
}
.social-icon {
    margin: 20px 10px;
}
/* Media Query Section */
@media (max-width: 1028px) {
#title{
    text-align: center;
}
.title-image{
    position:static;
    transform:rotate(0);
}
}